@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

//mixins

@mixin norm() {
	margin: 0;
	padding: 0;
}


body {
	background-color: #fff; 
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

//header
.may {
	font-family: 'Special Elite', cursive;
	font-weight: 100;
	font-size: 1.7em;
	margin: 15px 25px 0 0px !important;
	letter-spacing: -.09em;
	color: #707070;
	background-color: #F8E57B;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	float: right;
	padding: 4px  11px 0px 14px;
}
.tag {
	font-family: 'Bitter', serif !important;
	font-size: .8em;
	color: #8C8C8C;
	margin: -10px 0 0 0px !important;
}
.write {
	padding: 10px 10px 10px 10px;
}
.write:focus {
	border: none;
	border: 1px dashed #ccc;
	outline: 0px solid transparent;

}
.writing {
	padding: 0px 0 0 0;
	font-family: 'Bitter', serif !important;
	font-size: 1.5em;
	color: #5A5A5A;

	h1{
		padding: 10px 10px 10px 10px;
		font-size: 1.4em;
		font-weight: 200;
	}
	p{
		font-size: .9em;
		margin-top: 20px;
	}
	.chapter{
		font-family: 'Oswald', cursive;
		font-size: .8em;
		font-weight: 100;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

}

//body
.titleImg {
	height: 15px;
	width: 100%;
	margin: auto;
	img {
		width: 400px;

	}
}

//overrides
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px; 
	padding-right: 0px; 
}
//media q
@media (max-width: 600px) {
	.tag {
		display:none;
	}
	.container {
		padding-left: 15px; 
		padding-right: 15px; 
	}
}

