@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

body {
	background-color: #FBECCE; 
}
//header
.logo {
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 10px 15px 0 0px !important;
	display: inline-block;
	color: #8C8C8C;
	letter-spacing: -.02em;

	.may{
		color: #9C4B4B;
		font-weight: 100;
	}
}
.tag {
	font-family: 'Bitter', serif !important;
	font-size: .8em;
	color: #8C8C8C;
	margin: -10px 0 0 0px !important;
}
.writing {
	padding: 80px 0 0 0;
	font-family: 'Bitter', serif !important;
	font-size: 1.5em;
	color: #1F1F1F;
}

//body
.titleImg {
	height: 15px;
	width: 100%;
	margin: auto;
	img {
		width: 400px;

	}
}

//overrides
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px; 
    padding-right: 0px; 
}
//media q
@media (max-width: 600px) {
	.tag {
		display:none;
	}
	.container {
    padding-left: 15px; 
    padding-right: 15px; 
}
}

